In [20]:
import pandas as pd
import numpy as np

#Import the original file
orig_df = pd.read_csv('/Users/youssefeldeeb/Documents/Material/Recommendation_Systems_with_Python/Datasets/movies_metadata.csv',low_memory=False)

#Import data from the clean file
df = pd.read_csv('/Users/youssefeldeeb/Documents/Material/Recommendation_Systems_with_Python/Datasets/metadata_clean.csv',low_memory=False)

cred_df = pd.read_csv('/Users/youssefeldeeb/Documents/Material/Recommendation_Systems_with_Python/Datasets/credits.csv',low_memory=False)
key_df = pd.read_csv('/Users/youssefeldeeb/Documents/Material/Recommendation_Systems_with_Python/Datasets/keywords.csv',low_memory=False)

# df.head()

In [21]:
#Add the useful features into the cleaned dataframe
df['id'] = orig_df['id']

In [22]:
# Function to convert all non-integer IDs to NaN
def cleanId(x):
    try:
        return int(x)
    except:
        return np.nan

#Clean the ids 
df['id'] = df['id'].apply(cleanId)
key_df['id'] = key_df['id'].apply(cleanId)
cred_df['id'] = cred_df['id'].apply(cleanId)

#Filter all rows that have a null ID
df = df[df['id'].notnull()]
key_df = key_df[key_df['id'].notnull()]
cred_df = cred_df[cred_df['id'].notnull()]

In [23]:
# Convert IDs into integer
df['id'].astype('int')
key_df['id'].astype('int')
cred_df['id'].astype('int')

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45471    439050
45472    111109
45473     67758
45474    227506
45475    461257
Name: id, Length: 45476, dtype: int64

In [24]:
# Merge keywords and credits into your main metadata dataframe
df = df.merge(key_df, on='id')
df = df.merge(cred_df, on='id')
df.head()

,title,genres,runtime,vote_average,vote_count,year,id,keywords,cast,crew
0,Toy Story,"['Animation', 'Comedy', 'Family']",81.0,7.7,5415.0,1995,862.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",104.0,6.9,2413.0,1995,8844.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpier Old Men,"['Romance', 'Comedy']",101.0,6.5,92.0,1995,15602.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",127.0,6.1,34.0,1995,31357.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Part II,['Comedy'],106.0,5.7,173.0,1995,11862.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [25]:
# Convert the stringified objects into the native python objects
from ast import literal_eval
features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    df[feature] = df[feature].apply(literal_eval)

In [26]:
df.head()

,title,genres,runtime,vote_average,vote_count,year,id,keywords,cast,crew
0,Toy Story,"[Animation, Comedy, Family]",81.0,7.7,5415.0,1995,862.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,Jumanji,"[Adventure, Fantasy, Family]",104.0,6.9,2413.0,1995,8844.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,Grumpier Old Men,"[Romance, Comedy]",101.0,6.5,92.0,1995,15602.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,Waiting to Exhale,"[Comedy, Drama, Romance]",127.0,6.1,34.0,1995,31357.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,Father of the Bride Part II,[Comedy],106.0,5.7,173.0,1995,11862.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [27]:
# Print the first cast member of the first movie in df
df.iloc[0]['crew'][0]

{'credit_id': '52fe4284c3a36847f8024f49',
 'department': 'Directing',
 'gender': 2,
 'id': 7879,
 'job': 'Director',
 'name': 'John Lasseter',
 'profile_path': '/7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg'}

In [29]:
# Extract the director's name. If director is not listed, return NaN
def getDirector(x):
    for crew_num in x:
        if crew_num['job'] == 'Director':
            return crew_num['name']
    return np.nan

In [40]:
# Define the new director feature
df['director'] = df['crew'].apply(getDirector)
df.head()

,title,genres,runtime,vote_average,vote_count,year,id,keywords,cast,crew,director
0,Toy Story,"[Animation, Comedy, Family]",81.0,7.7,5415.0,1995,862.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,"[Adventure, Fantasy, Family]",104.0,6.9,2413.0,1995,8844.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,"[Romance, Comedy]",101.0,6.5,92.0,1995,15602.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,"[Comedy, Drama, Romance]",127.0,6.1,34.0,1995,31357.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,[Comedy],106.0,5.7,173.0,1995,11862.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer

In [37]:
# Returns the list top 3 elements or entire list; whichever is more.
def generateList(x):
    if isinstance(x,list):
        names = [element['name'] for element in x]
        #Check if more than 3 elements exist. If yes, return only first three.
        #If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names
    #Return empty list in case of missing/malformed data
    return []

In [42]:
#Apply the generate_list function to cast and keywords
df['cast'] = df['cast'].apply(generateList)
df['keywords'] = df['keywords'].apply(generateList)

#Only consider a maximum of 3 genres
df['genres'] = df['genres'].apply(lambda x: x[:3])

In [43]:
df.head()

,title,genres,runtime,vote_average,vote_count,year,id,keywords,cast,crew,director
0,Toy Story,"[Animation, Comedy, Family]",81.0,7.7,5415.0,1995,862.0,"[jealousy, toy, boy]","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,"[Adventure, Fantasy, Family]",104.0,6.9,2413.0,1995,8844.0,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,"[Romance, Comedy]",101.0,6.5,92.0,1995,15602.0,"[fishing, best friend, duringcreditsstinger]","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,"[Comedy, Drama, Romance]",127.0,6.1,34.0,1995,31357.0,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,[Comedy],106.0,5.7,173.0,1995,11862.0,"[baby, midlife crisis, confidence]","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer

In [46]:
# Function to sanitize data to prevent ambiguity.
# Removes spaces and converts to lowercase
def sanitize(x):
    if isinstance(x,list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ","")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x,str):
            return str.lower(x.replace(" ",""))
        else:
            return ""

In [47]:
#Apply the sanitize function to cast, keywords, director and genres
for feature in ['cast', 'director', 'genres', 'keywords']:
    df[feature] = df[feature].apply(sanitize)

In [48]:
df.head()

,title,genres,runtime,vote_average,vote_count,year,id,keywords,cast,crew,director
0,Toy Story,"[animation, comedy, family]",81.0,7.7,5415.0,1995,862.0,"[jealousy, toy, boy]","[tomhanks, timallen, donrickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",johnlasseter
1,Jumanji,"[adventure, fantasy, family]",104.0,6.9,2413.0,1995,8844.0,"[boardgame, disappearance, basedonchildren'sbook]","[robinwilliams, jonathanhyde, kirstendunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",joejohnston
2,Grumpier Old Men,"[romance, comedy]",101.0,6.5,92.0,1995,15602.0,"[fishing, bestfriend, duringcreditsstinger]","[waltermatthau, jacklemmon, ann-margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",howarddeutch
3,Waiting to Exhale,"[comedy, drama, romance]",127.0,6.1,34.0,1995,31357.0,"[basedonnovel, interracialrelationship, single...","[whitneyhouston, angelabassett, lorettadevine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",forestwhitaker
4,Father of the Bride Part II,[comedy],106.0,5.7,173.0,1995,11862.0,"[baby, midlifecrisis, confidence]","[stevemartin, dianekeaton, martinshort]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",charlesshyer

In [55]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
    return ' '.join(x['keywords'])+' '+' '.join(x['cast'])+' '+x['director']+' '+' '.join(x['genres'])

In [56]:
# Create the new soup feature
df['soup'] = df.apply(create_soup, axis=1)

In [57]:
#Display the soup of the first movie
df.iloc[0]['soup']

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [59]:
#Define a new CountVectorizer object and create vectors for the soup
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [66]:
# Reset index of your df and construct reverse mapping again
df = df.reset_index()
indices2 = pd.Series(df.index, index=df['title'])
indices2.head(10)

In [73]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [74]:
cosine_sim2[0:6]

array([[1.        , 0.09534626, 0.1       , ..., 0.        , 0.        ,
        0.        ],
       [0.09534626, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.1       , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.1       , 0.        , 0.2       , ..., 0.1118034 , 0.        ,
        0.        ],
       [0.1118034 , 0.        , 0.1118034 , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.2236068 , 0.        ,
        0.        ]])

In [76]:
# Function that takes in movie title as input and gives recommendations
def contentRecommender(title, cosine_sim, df, indices):
    # Obtain the index of the movie that matches the title
    idx = indices[title]
    
    # Get the pairwsie similarity scores of all movies with that movie
    # And convert it into a list of tuples 
    simScores = list(enumerate(cosine_sim[idx])) 
    
    # Sort the movies based on the cosine similarity scores
    simScores = sorted(simScores, key=lambda x: x[1], reverse=True)
    
    # Get the scores of the 10 most similar movies. Ignore the first movie.
    simScores = simScores[1:11]
    
    # Get the movie indices
    moviesIndices = [i[0] for i in simScores]
    
    # Return the top 10 most similar movies
    return df['title'].iloc[moviesIndices]

In [77]:
#Get recommendations for The Lion King
contentRecommender('The Lion King', cosine_sim2, df, indices2)

29607                                          Cheburashka
40904                   VeggieTales: Josh and the Big Wall
40913    VeggieTales: Minnesota Cuke and the Search for...
27768                                 The Little Matchgirl
15209             Spiderman: The Ultimate Villain Showdown
16613                            Cirque du Soleil: Varekai
24654                                  The Seventh Brother
29198                                      Superstar Goofy
30244                                              My Love
31179                Pokémon: Arceus and the Jewel of Life
Name: title, dtype: object